<div class="p-12 mt-14 sm:ml-64 content-center ">
  <div class="w-full max-w-md p-4 content-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Next Of Kin</h5>
      <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
      </a>
    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                <%= @next.name %>
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                <%= @next.relationship %>
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              <%= @next.phone_number %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

