<div class="flex flex-col rounded bg-gray-50 dark:bg-gray-800 mb-4">

    <div class="flow-root p-4">
      <% @next.limit(4).each do |nex|  %>
        <% if can? :read, nex %>
        <%= link_to next_path(nex.id) do %>
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4 border-b-2 border-gray-50">
              <div class="flex items-center space-x-4">
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    <%= nex.name %>
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    <%= nex.relationship %>
                  </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                  <%= nex.phone_number %>
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      <% end %>
      <% end %>
    </div>

</div>