<div class="p-4 sm:ml-64">
  <div class="p-1 rounded-lg mt-14">
    <!--This is the working code-->
    <div class="grid md:grid-cols-5 grid-cols-1 gap-4 mb-4">
      <div class="col-span-2">
        <div class="flex items-center justify-center rounded bg-gray-50 h-96 dark:bg-gray-800 mb-4">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
            pak
          </p>
        </div>
        <div class="flex items-center justify-center rounded bg-gray-50 h-64 dark:bg-gray-800 mb-4">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
            puk
          </p>
        </div>
        <div class="flex items-center justify-center rounded bg-gray-50 h-64 dark:bg-gray-800">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
            puk
          </p>
        </div>
      </div>


      <div class="col-span-3">
        <div class="rounded bg-gray-50 h-[30rem] dark:bg-gray-800 mb-4">
          <div>
                  <div class="flex">
                    <div>
                      <h5 class="text-2xl text-gray-400 dark:text-white m-4">General Information</h5>
                    </div>
                    <!--BUTTON TO ADD NEW INFORMATION-->
                    <% @bio.each do |bio| %>
                      <%= link_to edit_bio_path(bio.id) do %>
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-4 ">
                              <!--SVG ICON ADD more information-->
                              <svg class="w-4 h-4 inline-block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                              </svg>
                              Add New Information
                            </button>
                        <% end %>

                       <% end %>
                  </div>
            <div>
              <h5 class="text-xl text-gray-400 dark:text-white m-4">About Me</h5>
              <p class="text-gray-400 dark:text-white m-4">
                <% @bio.limit(1).each do |bio| %>
                  <%= bio.date_of_birth %>
                <% end %>
            </div>
          </div>
        </div>
        <!-- Column two-->
        <div class="flex items-center justify-center rounded bg-gray-50 h-96 dark:bg-gray-800 mb-4">
          <p class="text-2xl text-gray-400 dark:text-gray-500">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
            Pel
          </p>
        </div>
      </div>
    </div>

  </div>
</div>